In [ ]:
import pymysql
import sqlalchemy as sa
import time

def kylin_query(conn_str,query_sql):
    kylin_engine = sa.create_engine(conn_str)
    #查看表
    results = kylin_engine.execute(query_sql)
    map_res = list(map(lambda x:x, results))
    return map_res

# def test_execute(conn, sql):
#     with conn.cursor(pymysql.cursors.DictCursor) as cursor:
#         try:
#             cursor.execute(sql)
#             phone = cursor.fetchall()
#             conn.commit()
#         except Exception as e:
#             traceback.print_exc()
#             conn.rollback()
#         cursor.close()
#     return phone

def test_execute_many(conn, update_sql, kylin_phone):
    with conn.cursor(pymysql.cursors.DictCursor) as cursor:
        try:
            print(11)
            cursor.executemany(update_sql, kylin_phone)
            print("======")
            conn.commit()
        except Exception as e:
            print(e)
            conn.rollback()
        cursor.close()
        conn.close()

def update_sql(conn, kylin_phone):
    print('更新数量：',len(kylin_phone))
    try:
        print(33)
        update_sql = "update user_information set user_name=%s, nick_name=%s, age=%s, \
        gender=%s, birthday=%s, certificate_number=%s, province=%s, city=%s, country=%s,\
        address=%s, industry=%s, education_level=%s, personal_mothly_income=%s,\
        family_mothly_income=%s, family_status=%s, telephone=%s, remarks=%s where phone=%s;"
        print(update_sql, "=================")
        test_execute_many(conn, update_sql, kylin_phone)
        

    except Exception as e:
        print(44)
        return 0
    
def data_process(conn_str):
    sql = "select user_name,nick_name,age,(CASE gender WHEN '男' THEN '1' WHEN '女' THEN '2' WHEN '1' THEN '1' WHEN '2' THEN '2' ELSE '0' END) AS gender,birthday,certificate_number,province,city,country,\
            address,industry,education_level,personal_mothly_income,\
            family_mothly_income,family_status,telephone,remarks,phone from VA_1230;"
    query_sql = kylin_query(conn_str,sql)
    print(query_sql, "====")
    list1 = []
            
    for i in query_sql:
        list1.append(tuple([None if j==None else j for j in i]))
    print('111',list1)
#     return list1
    
if __name__ == '__main__':
    conn_str = 'kylin://ADMIN:SgmwAdmin@172.22.14.115:8110/test_lyt?version=v1'
    conn = pymysql.Connect(host='172.22.14.51',port=8097, user='root',password='system',database='crm_data',charset='utf8')
    kylin_phone = data_process(conn_str)
#     print(kylin_phone)
    update_sql(conn, kylin_phone)

In [ ]:
import pymysql
import sqlalchemy as sa
import pandas as pd

def kylin_query(conn_str,query_sql):
    kylin_engine = sa.create_engine(conn_str, connect_args={'timeout': 3600})
    #查看表
#     print(kylin_engine.table_names())
    results = kylin_engine.execute(query_sql)
    map_res = list(map(lambda x:x, results))
    return map_res

def execute_many(conn, sql, tolist_result):
    with conn.cursor(pymysql.cursors.DictCursor) as cursor:
        try:
            print(11)
            cursor.executemany(sql, tolist_result)
            print("======")
            conn.commit()
        except Exception as e:
            print(e, "222")
            conn.rollback()
        cursor.close()
        conn.close()
        
def update_crm(tolist_result):
#     sql = "update user_label set interested_radio=%s where user_id=%s;"
#     sql = "update user_label set not_interested_radio=%s where user_id=%s;"
#     sql = "update user_label set interested_novelty_stores=%s where user_id=%s;"
#     sql = "update user_label set focus_distributors=%s where user_id=%s;"
#     sql = "update user_label set occasionally_focus_disttors=%s where user_id=%s;"   
#     sql = "update user_label set not_focus_distributors=%s where user_id=%s;"   
#     sql = "update user_label set interested_test_drive=%s where user_id=%s;"   
#     sql = "update user_label set focus_test_drive=%s where user_id=%s;"   
#     sql = "update user_label set not_interested_test_drive=%s where user_id=%s;"   
#     sql = "update user_label set frequent_service_interaction=%s where user_id=%s;"   
#     sql = "update user_label set frequent_remote_car_control=%s where user_id=%s;"   
#     sql = "update user_label set occasionally_remote_car_control=%s where user_id=%s;"   
#     sql = "update user_label set cannot_remote_car_control=%s where user_id=%s;"   
    
    
    print('开始更新')
    execute_many(conn, sql, tolist_result)
    print("完成")

def query_data(sql, conn_str):
    query_sql = kylin_query(conn_str,sql)
    pd_res = pd.DataFrame(query_sql)
    tolist_result = pd_res.values.tolist()
    print(tolist_result[:5])
    return tolist_result
    
if __name__=='__main__':
    conn_str = 'kylin://ADMIN:Sgmw5050@@172.22.14.115:8131/SGMW_BIG_DATA?version=v1' #正式
    conn = pymysql.connect(host='96.4.1.49', port=3306, user='crmroot', password='$lS1#te$3rvzD',database='crm_data',charset='utf8')
#     30天到访411FM>3次
#     sql = "select 2 as interested_radio, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id, (cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and ue_event_position = '411FM' GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 >= 3) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);"
#     30天到访411FM次数<1次
    sql = "select 0 as not_interested_radio, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id, (cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and ue_event_position = '411FM' GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 < 1) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);"

#     30天到访新奇商店>3次
#     sql = "select 2 as interested_novelty_stores, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id,(cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and ue_event_position = '新奇商店' GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 >= 3) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);" 
#     30天内查找附近经销商次数>3次
#     sql = "select 2 as focus_distributors, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id,(cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and ue_event_position = '附近经销商' GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 >= 3) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);" 
#     30天内查找附近经销商1次<次数<3次
#     sql = "select 1 as occasionally_focus_distributors, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id,(cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and ue_event_position = '附近经销商' GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 >= 1 and t2 < 3) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);" 
#     30天内查找附近经销商次数<1次
#     sql = "select 0 as not_focus_distributors, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id,(cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and ue_event_position = '附近经销商' GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 < 1) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);" 
#     30天预约体验页面浏览次数>3次
#     sql = "select 2 as interested_test_drive, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id,(cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and (ue_event_position = '试驾体验' or ue_event_position = '线上预约试驾' or ue_event_position = '我的试驾订单') GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 >= 3) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);"
#     30天预约体验页面浏览1<次数<3次
#     sql = "select 1 as focus_test_drive, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id,(cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and (ue_event_position = '试驾体验' or ue_event_position = '线上预约试驾' or ue_event_position = '我的试驾订单') GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 < 3 and t2 >= 1) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);"
#     30天预约体验页面浏览次数=0次
#     sql = "select 0 as not_interested_test_drive, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id,(cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and (ue_event_position = '试驾体验' or ue_event_position = '线上预约试驾' or ue_event_position = '我的试驾订单') GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 = 0) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);"
#     30天联系顾问页面浏览次数>3次
#     sql = "select 2 as frequent_service_interaction, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id,(cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and (ue_event_position = '客服' or ue_event_position = '官方客服') GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 >= 3) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);"
#     30天使用车控功能>10次
#     sql = "select 2 as frequent_remote_car_control, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id,(cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and (ue_event_position = '解锁' or ue_event_position = '启动发动机' or ue_event_position='开窗' or ue_event_position = '寻车' or ue_event_position = '上锁' or ue_event_position = '关闭发动机' or ue_event_position = '关窗' or ue_event_position = '后备箱') GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 >= 10) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);"
#     30天使用车控功能1=<次数<10次
#     sql = "select 1 as occasionally_remote_car_control, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id,(cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and (ue_event_position = '解锁' or ue_event_position = '启动发动机' or ue_event_position='开窗' or ue_event_position = '寻车' or ue_event_position = '上锁' or ue_event_position = '关闭发动机' or ue_event_position = '关窗' or ue_event_position = '后备箱') GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 < 10 and t2 >= 1) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);"
#     30天使用车控功能次数<0
#     sql = "select 0 as cannot_remote_car_control, v.ue_distinct_id from (select ue_distinct_id,count(t1) t2 from (SELECT ue_distinct_id,(cast(cast(ue_time as timestamp)as date)) as t1 FROM sgmw_big_data.buried_event_statistics_01 WHERE ue_time >= cast(timestampadd(DAY,-30,CURRENT_DATE()) as varchar) AND ue_time < cast(CURRENT_DATE() as varchar) AND (ue_distinct_id LIKE '%=%' OR ue_distinct_id LIKE '%Sgmw_%') and (ue_event_position = '解锁' or ue_event_position = '启动发动机' or ue_event_position='开窗' or ue_event_position = '寻车' or ue_event_position = '上锁' or ue_event_position = '关闭发动机' or ue_event_position = '关窗' or ue_event_position = '后备箱') GROUP BY ue_distinct_id,t1) group by ue_distinct_id having t2 < 1) v where v.ue_distinct_id in (select CRM_USER_LABEL.USER_ID from CRM_USER_LABEL);"    
    result = query_data(sql, conn_str)
    update_crm(result)

In [1]:
import pymysql
import sqlalchemy as sa
import pandas as pd


def kylin_query(conn_str,query_sql):
    kylin_engine = sa.create_engine(conn_str, connect_args={'timeout': 3600})
    #查看表
#     print(kylin_engine.table_names())
    results = kylin_engine.execute(query_sql)
    map_res = list(map(lambda x:x, results))
    return map_res

def query_data(sql, conn_str):
    query_sql = kylin_query(conn_str,sql)
    pd_res = pd.DataFrame(query_sql,columns=["distinct_id","count_yuhui", "count_tiezi", "count_zixun", "count_city"])
#     tolist_result = pd_res.values.tolist()
#     print(pd_res)
    return pd_res

if __name__ == '__main__':
    conn_str = 'kylin://ADMIN:Sgmw5050@@172.22.14.115:8131/SGMW_BIG_DATA?version=v1' #正式
#     conn = pymysql.connect(host='96.4.1.49', port=3306, user='crmroot', password='$lS1#te$3rvzD',database='crm_data',charset='utf8')
#     sql = "select UE_DISTINCT_ID, count(UE_DISTINCT_ID) as count_yuhui from BURIED_HIVE_APP_LLB where UE_EVENT_POSITION = '领优惠' group by UE_DISTINCT_ID;"
#     sql = "select UE_DISTINCT_ID, count(UE_DISTINCT_ID) as count_tiezi from BURIED_HIVE_APP_LLB where UE_EVENT_POSITION = '推荐' or UE_EVENT_POSITION = '车友会' or UE_EVENT_POSITION = '菱学院' or UE_EVENT_POSITION = '自助养车' or UE_EVENT_POSITION = '共赢合伙人' or UE_EVENT_POSITION = '自助购车' group by UE_DISTINCT_ID; "
#     sql = "select UE_DISTINCT_ID, count(UE_DISTINCT_ID) as count_zixun from BURIED_HIVE_APP_LLB where UE_EVENT_POSITION = '问技师' or UE_EVENT_POSITION = '问技师/工程师' group by UE_DISTINCT_ID; "
    sql = "select \
        yh.UE_DISTINCT_ID,\
        yh.count_yuhui,\
        tz.count_tiezi,\
        zx.count_zixun,\
        ct.UE_CITY\
    from \
        (select UE_DISTINCT_ID, count(UE_DISTINCT_ID) as count_yuhui from BURIED_HIVE_APP_LLB where UE_EVENT_POSITION = '领优惠' and UE_DISTINCT_ID like 'Sgmw_%' group by UE_DISTINCT_ID) yh\
    full join\
        (select UE_DISTINCT_ID, count(UE_DISTINCT_ID) as count_tiezi from BURIED_HIVE_APP_LLB where UE_EVENT_POSITION = '推荐' or UE_EVENT_POSITION = '车友会' or UE_EVENT_POSITION = '菱学院' or UE_EVENT_POSITION = '自助养车' or UE_EVENT_POSITION = '共赢合伙人' or UE_EVENT_POSITION = '自助购车' and UE_DISTINCT_ID like 'Sgmw_%' group by UE_DISTINCT_ID) tz\
    on\
        yh.UE_DISTINCT_ID = tz.UE_DISTINCT_ID\
    full join\
        (select UE_DISTINCT_ID, count(UE_DISTINCT_ID) as count_zixun from BURIED_HIVE_APP_LLB where UE_EVENT_POSITION = '问技师' or UE_EVENT_POSITION = '问技师/工程师' and UE_DISTINCT_ID like 'Sgmw_%' group by UE_DISTINCT_ID) zx\
    on\
        yh.UE_DISTINCT_ID = zx.UE_DISTINCT_ID\
    left join \
        (select UE_DISTINCT_ID, UE_CITY from BURIED_HIVE_APP_LLB where UE_CITY is not null and UE_CITY != '' and UE_DISTINCT_ID like 'Sgmw_%' group by UE_DISTINCT_ID, UE_CITY) ct \
    on \
        yh.UE_DISTINCT_ID = ct.UE_DISTINCT_ID limit 1000000;"
    result = query_data(sql, conn_str)

In [2]:
result

,distinct_id,count_yuhui,count_tiezi,count_zixun,count_city
0,Sgmw_61b98ea9d800413ca1519fed7bd1681a,1.0,NaN,NaN,Hohhot
1,Sgmw_61b98ea9d800413ca1519fed7bd1681a,1.0,NaN,NaN,Shenyang
2,Sgmw_fdeeff0fd0cb44789c6de6c595a6ea42,1.0,NaN,NaN,Miluo Chengguanzhen
3,Sgmw_13cc17c780244e86a73d1ca007435847,1.0,NaN,19.0,None
4,Sgmw_52fcec9dd4d54ef1b62d0de03b2903a3,1.0,NaN,2.0,Liuzhou
5,Sgmw_225ef654fb0144cb84d1bcbb3ee107fd,1.0,NaN,NaN,Shijiazhuang
6,Sgmw_225ef654fb0144cb84d1bcbb3ee107fd,1.0,NaN,NaN,Yaocheng
7,Sgmw_9a47c3825df44d5e9fb910c436004eff,1.0,NaN,8.0,Dashiqiao
8,Sgmw_9a47c3825df44d5e9fb910c436004eff,1.0,NaN,8.0,Shenyang
9,Sgmw_9a47c3825df44d5e9fb910c436004eff,1.0,NaN,8.0,Dalian
10,Sgmw_be401fa374184cc48f38ffc7404c78a7,1.0,NaN,NaN,Liuzhou
11,Sgmw_7d81ef5b33a849659c0cb1bbaf18a11d,1.0,NaN,2.0,Ganzhou
12,Sgmw_6c7352ac2b2411ea89eb00ff1d2c2c81,8.0,NaN,5.0,Nanning
13,Sgmw_6c7352ac2b2411ea89eb00ff1d2c2c81,8.0,NaN,5.0,Qinzhou
14,Sgmw_c6480d87c38c4334a77530e622ca10b3,2.0,NaN,1.0,Qingdao
15,Sgmw_017f7120f51b4d4694b6acf409f0e61a,3.0,NaN,NaN,Shijiazhuang
16,Sgmw_0add082312534838aed0fdd15c0f4312,1.0,NaN,NaN,Ordos
17,Sgmw_8b8e2c626d0041979a18386a1b224001,1.0,NaN,4.0,Wenzhou
18,Sgmw_8b8e2c626d0041979a18386a1b224001,1.0,NaN,4.0,Hangzhou
19,Sgmw_e08c7fa2727648ecae0edc05232b0ee2,1.0,NaN,37.0,Qingdao
20,Sgmw_e08c7fa2727648ecae0edc05232b0ee2,1.0,NaN,37.0,Jinan
21,Sgmw_e08c7fa2727648ecae0edc05232b0ee2,1.0,NaN,37.0,Linqing
22,Sgmw_68b9c91e2b2411ea89eb00ff1d2c2c81,5.0,NaN,NaN,Shaoxing
23,Sgmw_68b9c91e2b2411ea89eb00ff1d2c2c81,5.0,NaN,NaN,Hangzhou
24,Sgmw_88678ea6c15c4e909875063b61ef84e1,1.0,NaN,NaN,Taizhou
25,Sgmw_07e4778e02c948b39413855c2f2b7757,1.0,NaN,NaN,Baiyin
26,Sgmw_07e4778e02c948b39413855c2f2b7757,1.0,NaN,NaN,Ürümqi
27,Sgmw_62da8a0d61d748849d01b872a0890c6e,1.0,NaN,NaN,Nanning
28,Sgmw_62da8a0d61d748849d01b872a0890c6e,1.0,NaN,NaN,Liuzhou
29,Sgmw_3ad3b1f2371d4dc4bcb095df7f0265d6,2.0,NaN,NaN,None
...,...,...,...,...,...
354771,None,NaN,NaN,2.0,None
354772,None,NaN,NaN,1.0,None
354773,None,NaN,NaN,2.0,None
354774,None,NaN,NaN,3.0,None
354775,None,NaN,NaN,2.0,None
354776,None,NaN,NaN,1.0,None
354777,None,NaN,NaN,1.0,None
354778,None,NaN,NaN,4.0,None
354779,None,NaN,NaN,62.0,None
354780,None,NaN,NaN,3.0,None
354781,None,NaN,NaN,3.0,None
354782,None,NaN,NaN,1.0,None
354783,None,NaN,NaN,1.0,None
354784,None,NaN,NaN,3.0,None
354785,None,NaN,NaN,1.0,None
354786,None,NaN,NaN,1.0,None
354787,None,NaN,NaN,10.0,None
354788,None,NaN,NaN,1.0,None
354789,None,NaN,NaN,1.0,None
354790,None,NaN,NaN,2.0,None
354791,None,NaN,NaN,1.0,None
354792,None,NaN,NaN,3.0,None
354793,None,NaN,NaN,1.0,None
354794,None,NaN,NaN,2.0,None
354795,None,NaN,NaN,3.0,None
354796,None,NaN,NaN,1.0,None
354797,None,NaN,NaN,3.0,None
354798,None,NaN,NaN,1.0,None
354799,None,NaN,NaN,3.0,None
354800,None,NaN,NaN,1.0,None

In [3]:
import pandas as pd
import pymysql

conn = pymysql.connect(host='96.4.1.50', port=3306, user='crmroot', password='$lS1#te$3rvzD',database='crm_data',charset='utf8')
sql = "SELECT user_id as distinct_id,account FROM account_information WHERE account_type=2 AND use_status=1;"

data1 = pd.read_sql(sql, conn)

In [4]:
data1

                                    distinct_id      account
0         Sgmw_70d7d263640611eabfb31065302794f5  18949910055
1         Sgmw_e1103f58640511eabfb31065302794f5  17162597964
2         Sgmw_1e65e83c640611eabfb31065302794f5  17773150991
3         Sgmw_89eff42b640511eabfb31065302794f5  18580680863
4         Sgmw_294d7d9b640611eabfb31065302794f5  15034385752
5         Sgmw_9e9da7c3640511eabfb31065302794f5  18929710610
6         Sgmw_8539666c640511eabfb31065302794f5  13253851016
7         Sgmw_40b2e122640611eabfb31065302794f5  17069995333
8         Sgmw_59f004c5640611eabfb31065302794f5  18959054035
9         Sgmw_5c736dea640611eabfb31065302794f5  13801695449
10        Sgmw_0f8e2307640611eabfb31065302794f5  15128239363
11        Sgmw_7d55dbeb640511eabfb31065302794f5  18004647080
12        Sgmw_e0cfe233640511eabfb31065302794f5  13584556068
13        Sgmw_9de534e5640611eabfb31065302794f5  16530843281
14        Sgmw_ff416414640511eabfb31065302794f5  18281752080
15        Sgmw_8003b327640511eabfb31065302794f5  15012303951
16        Sgmw_b34d9d94640511eabfb31065302794f5  18980832235
17        Sgmw_cfdfc6f3640511eabfb31065302794f5  15094295738
18        Sgmw_52e4bb4d640611eabfb31065302794f5  18606676697
19        Sgmw_b57633e9486c4a0780f9a04fb1f560e5  17770187599
20        Sgmw_f9d8ef79640511eabfb31065302794f5  17190944884
21        Sgmw_4e2343a2640611eabfb31065302794f5  17081473226
22        Sgmw_25e29060640611eabfb31065302794f5  15581527596
23        Sgmw_c91433bc640511eabfb31065302794f5  15996684931
24        Sgmw_82de1fc0640511eabfb31065302794f5  13977141898
25        Sgmw_6a302d9f640611eabfb31065302794f5  18935113819
26        Sgmw_a10f0e42640511eabfb31065302794f5  15152738378
27        Sgmw_1948ec85da804a779a7be779c44ac8cd  13054348467
28        Sgmw_4c54b1dd640611eabfb31065302794f5  18919194341
29        Sgmw_6e6c7baf640611eabfb31065302794f5  13287060788
...                                         ...          ...
10423470  Sgmw_70ddeed7640611eabfb31065302794f5  13769382338
10423471  Sgmw_351dd759640611eabfb31065302794f5  13822262658
10423472  Sgmw_530c8dcf640611eabfb31065302794f5  15328555154
10423473  Sgmw_3343148a640611eabfb31065302794f5  13316590663
10423474  Sgmw_32425eb4640611eabfb31065302794f5  18298371736
10423475  Sgmw_d8e57898640511eabfb31065302794f5  15002245563
10423476  Sgmw_a4753234640611eabfb31065302794f5  18988504897
10423477  Sgmw_91b672ac640611eabfb31065302794f5  17695906095
10423478  Sgmw_983ea488640511eabfb31065302794f5  13429660066
10423479  Sgmw_4320f639640611eabfb31065302794f5  13722713880
10423480  Sgmw_590eb97d640611eabfb31065302794f5  13589067301
10423481  Sgmw_cb35bc22640511eabfb31065302794f5  17709352098
10423482  Sgmw_e7814478640511eabfb31065302794f5  15772785657
10423483  Sgmw_9247060d640511eabfb31065302794f5  13605829236
10423484  Sgmw_c282b4ff640511eabfb31065302794f5  13894183600
10423485  Sgmw_ccbd34fafd9546589088c17720f6de16  17792578385
10423486  Sgmw_4c67793b640611eabfb31065302794f5  13888401815
10423487  Sgmw_db29e6f1640511eabfb31065302794f5  15234022041
10423488  Sgmw_dfcdc9e9640511eabfb31065302794f5  13115801543
10423489  Sgmw_e0762914640511eabfb31065302794f5  18381335655
10423490  Sgmw_90078727640511eabfb31065302794f5  15033445990
10423491  Sgmw_746ceb0d640611eabfb31065302794f5  13363699796
10423492  Sgmw_5a77245c640611eabfb31065302794f5  13952345517
10423493  Sgmw_27f4886b640611eabfb31065302794f5  13865171687
10423494  Sgmw_0ab1e28b640611eabfb31065302794f5  18734727531
10423495  Sgmw_dba75773640511eabfb31065302794f5  13782525551
10423496  Sgmw_8bd3b47f640511eabfb31065302794f5  13504513227
10423497  Sgmw_63565356b98349fe8da51d18c699d05a  15656921921
10423498  Sgmw_dd405f19640511eabfb31065302794f5  15935035445
10423499  Sgmw_0e87bafea821438393e9e08c5823ebd8  17777565223

[10423500 rows x 2 columns]

In [5]:
result = pd.merge(result, data1, how="left", on="distinct_id")

In [6]:
result

,distinct_id,count_yuhui,count_tiezi,count_zixun,count_city,account
0,Sgmw_61b98ea9d800413ca1519fed7bd1681a,1.0,NaN,NaN,Hohhot,13840011189
1,Sgmw_61b98ea9d800413ca1519fed7bd1681a,1.0,NaN,NaN,Shenyang,13840011189
2,Sgmw_fdeeff0fd0cb44789c6de6c595a6ea42,1.0,NaN,NaN,Miluo Chengguanzhen,13972889957
3,Sgmw_13cc17c780244e86a73d1ca007435847,1.0,NaN,19.0,None,15078462929
4,Sgmw_52fcec9dd4d54ef1b62d0de03b2903a3,1.0,NaN,2.0,Liuzhou,13737238192
5,Sgmw_225ef654fb0144cb84d1bcbb3ee107fd,1.0,NaN,NaN,Shijiazhuang,13731172697
6,Sgmw_225ef654fb0144cb84d1bcbb3ee107fd,1.0,NaN,NaN,Yaocheng,13731172697
7,Sgmw_9a47c3825df44d5e9fb910c436004eff,1.0,NaN,8.0,Dashiqiao,13942259257
8,Sgmw_9a47c3825df44d5e9fb910c436004eff,1.0,NaN,8.0,Shenyang,13942259257
9,Sgmw_9a47c3825df44d5e9fb910c436004eff,1.0,NaN,8.0,Dalian,13942259257
10,Sgmw_be401fa374184cc48f38ffc7404c78a7,1.0,NaN,NaN,Liuzhou,15878290268
11,Sgmw_7d81ef5b33a849659c0cb1bbaf18a11d,1.0,NaN,2.0,Ganzhou,18370981786
12,Sgmw_6c7352ac2b2411ea89eb00ff1d2c2c81,8.0,NaN,5.0,Nanning,13481695050
13,Sgmw_6c7352ac2b2411ea89eb00ff1d2c2c81,8.0,NaN,5.0,Qinzhou,13481695050
14,Sgmw_c6480d87c38c4334a77530e622ca10b3,2.0,NaN,1.0,Qingdao,15964990675
15,Sgmw_017f7120f51b4d4694b6acf409f0e61a,3.0,NaN,NaN,Shijiazhuang,15029451036
16,Sgmw_0add082312534838aed0fdd15c0f4312,1.0,NaN,NaN,Ordos,18778500031
17,Sgmw_8b8e2c626d0041979a18386a1b224001,1.0,NaN,4.0,Wenzhou,17767057872
18,Sgmw_8b8e2c626d0041979a18386a1b224001,1.0,NaN,4.0,Hangzhou,17767057872
19,Sgmw_e08c7fa2727648ecae0edc05232b0ee2,1.0,NaN,37.0,Qingdao,18866348866
20,Sgmw_e08c7fa2727648ecae0edc05232b0ee2,1.0,NaN,37.0,Jinan,18866348866
21,Sgmw_e08c7fa2727648ecae0edc05232b0ee2,1.0,NaN,37.0,Linqing,18866348866
22,Sgmw_68b9c91e2b2411ea89eb00ff1d2c2c81,5.0,NaN,NaN,Shaoxing,13587337673
23,Sgmw_68b9c91e2b2411ea89eb00ff1d2c2c81,5.0,NaN,NaN,Hangzhou,13587337673
24,Sgmw_88678ea6c15c4e909875063b61ef84e1,1.0,NaN,NaN,Taizhou,18253140210
25,Sgmw_07e4778e02c948b39413855c2f2b7757,1.0,NaN,NaN,Baiyin,13659359956
26,Sgmw_07e4778e02c948b39413855c2f2b7757,1.0,NaN,NaN,Ürümqi,13659359956
27,Sgmw_62da8a0d61d748849d01b872a0890c6e,1.0,NaN,NaN,Nanning,13317723617
28,Sgmw_62da8a0d61d748849d01b872a0890c6e,1.0,NaN,NaN,Liuzhou,13317723617
29,Sgmw_3ad3b1f2371d4dc4bcb095df7f0265d6,2.0,NaN,NaN,None,13115524365
...,...,...,...,...,...,...
354771,None,NaN,NaN,2.0,None,None
354772,None,NaN,NaN,1.0,None,None
354773,None,NaN,NaN,2.0,None,None
354774,None,NaN,NaN,3.0,None,None
354775,None,NaN,NaN,2.0,None,None
354776,None,NaN,NaN,1.0,None,None
354777,None,NaN,NaN,1.0,None,None
354778,None,NaN,NaN,4.0,None,None
354779,None,NaN,NaN,62.0,None,None
354780,None,NaN,NaN,3.0,None,None
354781,None,NaN,NaN,3.0,None,None
354782,None,NaN,NaN,1.0,None,None
354783,None,NaN,NaN,1.0,None,None
354784,None,NaN,NaN,3.0,None,None
354785,None,NaN,NaN,1.0,None,None
354786,None,NaN,NaN,1.0,None,None
354787,None,NaN,NaN,10.0,None,None
354788,None,NaN,NaN,1.0,None,None
354789,None,NaN,NaN,1.0,None,None
354790,None,NaN,NaN,2.0,None,None
354791,None,NaN,NaN,1.0,None,None
354792,None,NaN,NaN,3.0,None,None
354793,None,NaN,NaN,1.0,None,None
354794,None,NaN,NaN,2.0,None,None
354795,None,NaN,NaN,3.0,None,None
354796,None,NaN,NaN,1.0,None,None
354797,None,NaN,NaN,3.0,None,None
354798,None,NaN,NaN,1.0,None,None
354799,None,NaN,NaN,3.0,None,None
354800,None,NaN,NaN,1.0,None,None

In [7]:
result.to_csv('./llb_data1.csv', encoding='utf8')